---
layout: page
id: overview
permalink: /index.html
---

<div class="text">
  <h4 class="text-2xl font-bold mb-6">Regular Open Mics</h4>

  <div class="overflow-x-auto w-full">
    <table class="shows w-full border-collapse">
      <thead>
        <tr class="border-b-2 border-gray-300">
          <th class="text-left px-4 py-3 whitespace-nowrap"></th>
          <th class="text-left px-4 py-3 whitespace-nowrap">Where</th>
          <th class="text-left px-4 py-3 whitespace-nowrap">When</th>
          <th class="text-left px-4 py-3">How often</th>
          <th class="text-left px-4 py-3 whitespace-nowrap">How much</th>
        </tr>
      </thead>
      <tbody>
        {% for show in site.data.shows %}
          <tr class="show show--{{ show.type }} border-b border-gray-200 hover:bg-gray-50">
            <td class="px-4 py-3 whitespace-nowrap">
              {% if show.url %}
                <a href="{{ show.url }}" class="text-red-700 hover:text-red-900 underline">
                  {{ show.name }}
                </a>
              {% else %}
                {{ show.name }}
              {% endif %}
            </td>
            <td class="px-4 py-3 whitespace-nowrap">
              {% if show.venueUrl %}
                <a href="{{ show.venueUrl }}" target="_blank" class="text-red-700 hover:text-red-900 underline">
                  {{ show.venueName }}
                </a>
              {% else %}
                {{ show.venueName }}
              {% endif %}
              {% if show.venueAddress %}
                <small><a href="https://mapy.com/en/zakladni?q={{ show.venueAddress }}" target="_blank" class="inline-block ml-2">
                  <img src="img/map-icon.png" class="h-5 inline" />
                </a></small>
              {% endif %}
            </td>
            <td class="px-4 py-3 whitespace-nowrap">{{ show.day }}, {{ show.time }}</td>
            <td class="px-4 py-3">{{ show.frequency }}</td>
            <td class="px-4 py-3 whitespace-nowrap">
              {% if show.ticketUrl %}
                <a href="{{ show.ticketsUrl }}" target="_blank" class="text-red-700 hover:text-red-900 underline">
                  {{ show.cost }}
                </a>
              {% else %}
                {{ show.cost }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
