---
layout: page
id: overview
permalink: /index.html
---

<!--
<div class="logo">
  <img src="img/comedy_in_prague_logo.jpg" class="img-responsive" alt="Comedy Prague Logo" />
</div>
-->

<div class="text">
  <h4>Regular Open Mics</h4>

  <table class="shows">
    <thead>
      <tr>
        <th></th>
        <th>Where</th>
        <th>When</th>
        <th>How often</th>
        <th>How much</th>
      </tr>
    </thead>
    <tbody>
      {% for show in site.data.shows %}
        <tr class="show show--{{ show.type }}">
          <td>
            {% if show.url %}
              <a href="{{ show.url }}">
                {{ show.name }}
              </a>
            {% else %}
              {{ show.name }}
            {% endif %}
          </td>
          <td>
            {% if show.venueUrl %}
              <a href="{{ show.venueUrl }}" target="_blank">
                {{ show.venueName }}
              </a>
            {% else %}
              {{ show.venueName }}
            {% endif %}
            {% if show.venueAddress %}
              <small><a href="https://mapy.com/en/zakladni?q={{ show.venueAddress }}" target="_blank">
                <img src="img/map-icon.png" style="max-height: 1.3em;" />
              </a></small>
            {% endif %}

          </td>
          <td>{{ show.day }}, {{ show.time }}</td>
          <td>{{ show.frequency }}</td>
          <td>
            {% if show.ticketUrl %}
              <a href="{{ show.ticketsUrl }}" target="_blank">
                {{ show.cost }}
              </a>
            {% else %}
              {{ show.cost }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- table or list -->

</div>
