

.navbar {
  border-bottom: 1px solid silver !important;
}

h2 {
  margin-bottom: 1em;
}

dt {
  margin-top: 1em;
}

a {
  color: #BE2625;
}

a:visited {
  color: #BE2625;
}

.facebook_event_link {
  margin-top: 2em;
  margin-bottom: 2em;
}

.facebook_events_link a {
  color: #3b5998;
}

.facebook_events_link a:visited {
  color: #3b5998;
}


.logo {
  margin-bottom: 1em;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin:0 auto;
}

.facebook-link {
  margin-top: 1.5em;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#comedians-col {
  background: #EEE;
  height: 100%;
  border: 1px solid gray;
  margin: 0;
	padding: 0;
}

#comedians-nav {
	margin: 0;
	padding: 0;
}

#comedians-nav .header {
  background: grey;
  color: #EEE;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
}

#comedians-nav li {
	display: block;
	padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
	margin: 0;
}

#comedians-nav li.active {
  background: #DDD;
}

#comedians-nav li.active a {
  font-weight: bold;
}

#comedians-nav li:hover {
  background: white;
}

#comedians-profile {
  background: white;
  margin-left: 5em;
}

.comedians-thumb {
  margin: 0;
  padding: 0.2em;
  border: 1px;
}

.venues hr {
  border: 0.5px solid #EEE;
  width: 90%;
  margin: 1.5em;
}

#venues-intro {
  font-style: italic;
  line-height: 1.8em;
}

.venue > .name {
  margin-top: 1em;
}
