

.navbar {
  border-bottom: 1px solid silver !important;
}

h2 {
  margin-bottom: 1em;
}

dt {
  margin-top: 1em;
}

a {
  color: #BE2625;
}

a:visited {
  color: #BE2625;
}

.facebook_event_link {
  margin-top: 2em;
  margin-bottom: 2em;
}

.facebook_events_link a {
  color: #3b5998;
}

.facebook_events_link a:visited {
  color: #3b5998;
}

.logo {
  margin-bottom: 1em;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin:0 auto;
}

.facebook-link {
  margin-top: 1.5em;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

#comedians-profile .photo > img {
  width: 100%;
  max-height: 400;
  object-fit: cover;
  object-position: 50% 25%;
}

#comedians-profile .name h2 {
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#comedians-profile .bio {
  text-align: justify;
  background: white;
}

.comedians-thumb {
  margin: 0.5em;
  padding: 1em;

  border: 1px silver solid;
  background-color: #F0F0F0;

  text-align: center;
}

.comedians-thumb:hover {
  background-color: white;
}

.comedians-thumb img {
  border: 1px silver solid;
}

.comedians-thumb h2 {
  margin-top: 0.5em;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.2em;
}

.venues hr {
  border: 0.5px solid #EEE;
  width: 90%;
  margin: 1.5em;
}

#comedians-links {
  margin-top: 0em;
  margin-bottom: 1em;
}

#venues-intro {
  font-style: italic;
  line-height: 1.8em;
}

.venue > .name {
  margin-top: 1em;
}
