
.navbar {
  border-bottom: 1px solid silver !important;
}

h2 {
  margin-bottom: 1em;
}

dt {
  margin-top: 1em;
}

a {
  color: #BE2625;
}

a:visited {
  color: #BE2625;
}

.facebook_event_link {
  margin-top: 2em;
  margin-bottom: 2em;
}

.facebook_events_link a {
  color: #3b5998;
}

.facebook_events_link a:visited {
  color: #3b5998;
}

.logo {
  margin-bottom: 1em;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin:0 auto;
}

.facebook-link {
  margin-top: 1.5em;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.shows {
  font-style: italic;
  line-height: 1.8em;
}

.shows > .item {
  margin-top: 0.5em;
  font-size: larger;
}

@media (max-width: 767px) {
  ul {
    padding-left: 1.2em;
  }

  li.list-inline-item {
    margin-bottom: 1em;
  }

  li.list-inline-item:last-child {
    margin-bottom: 0;
  }

  .venue .location {
    text-align: left;
    padding-bottom: 0.5em;
  }
}
