<head>
  <title>Comedy Prague{% if page.title %} - {{ page.title }}{% endif %}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="content-language" content="en" />
  <meta charset="utf-8">
  <meta name="description" content="Comedy in Prague - Prague stand-up comedy shows in English, all in one place.">
  <meta name="keywords" content="prague comedy, open mic prague, stand-up comedy, english comedy prague, live comedy, comedy shows prague, standup comedy, comedy events, czech republic comedy, comedy nights">
  <meta name="author" content="Lukas Stejskal">
  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112489243-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-112489243-1');
  </script>
</head>
