<nav class="navbar navbar-expand-md navbar-light bg-white mb-4">
  <a class="navbar-brand" href="/"><img src="/img/comedy_prague_logo_small.jpg" class="img-responsive" alt="Comedy Prague Logo" /></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav navbar-left mr-auto">
      <li class="nav-item {% if page.id == 'home' %} active {% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {% if page.id == 'about-us' %} active {% endif %}">
        <a class="nav-link" href="/about-us.html">About us</a>
      </li>
      <li class="nav-item {% if page.id == 'comedians' or page.layout == 'comedian' %} active {% endif %}">
        <a class="nav-link" href="/comedians.html">Comedians</a>
      </li>
      <li class="nav-item {% if page.id == 'venues' %} active {% endif %}">
        <a class="nav-link" href="/venues.html">Venues</a>
      </li>
      </li>
      <li class="nav-item {% if page.id == 'events' %} active {% endif %}">
        <a class="nav-link" href="/events.html">Events</a>
      </li>
      <li class="nav-item {% if page.id == 'contact-us' %} active {% endif %}">
        <a class="nav-link" href="/contact-us.html">Contact Us</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right d-none d-md-block">
      <li class="nav-item">
        <a href="https://www.facebook.com/comedyprague/">
          <img src="/img/facebook_icon_large.png" width="34" height="34" alt="Facebook Logo" />
        </a>
      </li>
    </ul>

  </div>
</nav>
