<nav class="navbar navbar-expand-md navbar-light bg-white mb-4">
  <a class="navbar-brand" href="/"><img src="/img/comedy-in-prague-logo-small.png" class="img-responsive" alt="Comedy Prague Logo" /></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav navbar-left mr-auto">

      <li><i>Prague stand-up comedy in English, all in one place.</i></li>

<!--
      <li class="nav-item {% if page.id == 'home' %} active {% endif %}">
        <a class="nav-link" href="/old/">Home</a>
      </li>
      <li class="nav-item {% if page.id == 'about-us' %} active {% endif %}">
        <a class="nav-link" href="/old/about-us.html">About us</a>
      </li>
      <li class="nav-item {% if page.id == 'contact-us' %} active {% endif %}">
        <a class="nav-link" href="/old/contact-us.html">Contact Us</a>
      </li>
-->
    </ul>

    <ul class="navbar-nav navbar-right d-none d-md-block">
    <!--
      <li class="nav-item">
        <a href="https://www.facebook.com/comedyprague/">
          <img src="/img/facebook_icon_large.png" width="34" height="34" alt="Facebook Logo" />
        </a>
      </li>
    -->
    </ul>

  </div>
</nav>
