<!--enable Facebook widget-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_UK/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-expand-md navbar-light bg-white mb-4">
  <a class="navbar-brand" href="/"><img src="/img/comedy_prague_logo_small.jpg" class="img-responsive" alt="Comedy Prague Logo" /></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav navbar-left mr-auto">
      <li class="nav-item {% if page.id == 'home' %} active {% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {% if page.id == 'about-us' %} active {% endif %}">
        <a class="nav-link" href="/about-us.html">About us</a>
      </li>
      <li class="nav-item {% if page.id == 'comedians' or page.layout == 'comedian' %} active {% endif %}">
        <a class="nav-link" href="/comedians.html">Comedians</a>
      </li>
      <li class="nav-item {% if page.id == 'venues' %} active {% endif %}">
        <a class="nav-link" href="/venues.html">Venues</a>
      </li>
      </li>
      <li class="nav-item {% if page.id == 'events' %} active {% endif %}">
        <a class="nav-link" href="/events.html">Events</a>
      </li>
      <li class="nav-item {% if page.id == 'contact-us' %} active {% endif %}">
        <a class="nav-link" href="/contact-us.html">Contact Us</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <div class="fb-page" data-href="https://www.facebook.com/pg/comedyprague/" data-small-header="true"
             data-adapt-container-width="false" data-width="250" data-hide-cover="true" data-show-facepile="false">
          <blockquote cite="https://www.facebook.com/pg/comedyprague/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/pg/comedyprague/">Comedy Prague</a></blockquote>
        </div>
      </li>
    </ul>

  </div>
</nav>
