
<div class="texat shows">
  <div class="item">
    <b>Every Friday:</b>
    Showcase in <a href="https://www.facebook.com/londonundergroundbar/">London&nbsp;Underground&nbsp;Bar</a>
    <br />Spálená 47, Prague 1
  </div>

  <hr />

  <div class="item">
    <b>Every Saturday:</b>
    Open Mic in <a href="https://www.facebook.com/londonundergroundbar/">London&nbsp;Underground&nbsp;Bar</a>
    <br />Spálená 47, Prague 1
  </div>

  <hr />

  <div class="item">
    <b>Every Sunday:</b>
    Open Mic in <a href="https://www.facebook.com/TheBar.cz/">Bar&nbsp;Coming&nbsp;Soon</a>
    <br />Jindřicha Plachty 28, Prague 5
  </div>
</div>
