
<div class="texat shows">

  {% include show.html
    when="Thursday"
    name="The Comedy Piece"
    location_name="Piano Lounge"
    location_link="https://www.facebook.com/pianoloungeprague/"
    location_address="Haštalská 4, Prague 1"
  %}

  <hr />

  {% include show.html
    when="Friday"
    name="The Comedy Cellar"
    location_name="London&nbsp;Underground&nbsp;Bar"
    location_link="https://www.facebook.com/londonundergroundbar/"
    location_address="Spálená 47, Prague 1"
  %}

  <hr />

  {% include show.html
    when="Sunday"
    name="Open Mic"
    location_name="Bar&nbsp;Coming&nbsp;Soon"
    location_link="https://www.facebook.com/TheBar.cz/"
    location_address="Jindřicha Plachty 28, Prague 5"
  %}

</div>
