---
layout: default
---

  <div id="comedians-profile" class="col-6">

    <div class="photo">
      <img src="/img/comedians/{{ page.comedian.id }}.jpg" style="object-position: {{ page.comedian.img-align }};"/>
    </div>

    <div class="name">
      {% if page.comedian.website %}
        <h2><a href="{{ page.comedian.website }}">{{ page.comedian.name }}</a></h2>
      {% else %}
        <h2>{{ page.comedian.name }}</h2>
      {% endif %}
    </div>

    <div><hr /></div>

    <div class="bio">
      {{ content }}
    </div>

    <div><hr /></div>

  </div>

  <div class="col">&nbsp;</div>
</div>

{% for c in site.comedians %}
  {% if page.comedian.id == c.id %}
    {% assign previous_index = forloop.index0 | minus: 1 %}
    {% assign next_index = forloop.index0 | plus: 1 %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="row" id="comedians-links">
  <div class="col">&nbsp;</div>

  <div class="col-2" style="text-align: left;">
    <a href="/comedians/{{ site.comedians[previous_index].id }}.html"
    {% if previous_index < 0 %} style="display: none;" {% endif %}
    >&lt;&lt;</a>
  </div>

  <div class="col-2" style="text-align: center;">
    <a href="/comedians/1">Comedians</a>
  </div>

  <div class="col-2" style="text-align: right;">
    <a href="/comedians/{{ site.comedians[next_index].id }}.html"
    {% if next_index >= site.comedians.size %} style="display: none;" {% endif %}
    >&gt;&gt;</a>
  </div>

  <div class="col">&nbsp;</div>
</div>
