---
layout: page
id: comedians
title: Comedians
permalink: /comedians.html
page_nr: 1
---

</div>

<div class="col">&nbsp;</div>
</div>

<div class="row justify-content-center" style="margin-left: auto; margin-right: auto; max-width: 700px;">

{% assign comedians_page = page.page_nr | minus:1 %}
{% assign comedians_limit = 9 %}
{% assign comedians_offset = comedians_page | times:comedians_limit %}

{% for comedian in site.comedians limit:comedians_limit offset:comedians_offset %}

  <div class="col-md-2 comedians-thumb" style="max-width: 220px;">
    <div class="photo">
      <a href="/comedians/{{ comedian.id }}.html">
        <img src="/img/comedians/{{ comedian.id }}-thumb.jpg" style="max-width: 150px;" />
      </a>
    </div>
    <div class="name">
      <h2><a href="/comedians/{{ comedian.id }}.html">{{ comedian.name }}</a></h2>
    </div>
  </div>

{% endfor %}

</div>

<div class="row">
  <div class="col-md-3">&nbsp;</div>
  <div class="col-md-6"><hr /></div>
  <div class="col-md-3">&nbsp;</div>
</div>

{% assign comedians_limit_float = comedians_limit | times: 1.0 %}
{% assign total_pages_nr = site.comedians.size | divided_by: comedians_limit_float %}
{% assign current_page_nr = page.page_nr | times: 1 %}

<div class="row" id="comedians-links" style="text-align: center;">
  <div class="col-md-3">&nbsp;</div>

  <div class="col-md-3" style="text-align: center;">
    <a href="/comedians/{{ page.page_nr | minus:1 }}.html"
    {% if current_page_nr <= 1 %} style="display: none;" {% endif %}
    >&lt;&lt;&nbsp;previous&nbsp;page</a>
  </div>

  <div class="col-md-3" style="text-align: center;">
    <a href="/comedians/{{ page.page_nr | plus:1 }}.html"
    {% if current_page_nr >= total_pages_nr %} style="display: none;" {% endif %}
    >next&nbsp;page&nbsp;&gt;&gt;</a>&nbsp;
  </div>

  <div class="col-md-3">&nbsp;</div>
</div>
